<nav class="uk-navbar-container" style="width: 110%;" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Corona Tracker</a></li>
            <li>
                <a href="/">India</a>
                <!-- <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div> -->
            </li>
            <li><a href="/global">Global</a></li>
            <li><a href="/country">Country</a></li>
        </ul>

    </div>
</nav>