<div #customLoadingTemplate>
<app-navbar></app-navbar>
<div *ngIf="globalStats.statistic_taken_at!==undefined" style="width: 110%;">
    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-top" 
       style="padding: 20px !important;background-color: cadetblue;color: white;">
       <p class="uk-text-center mono" style="">Corona Cases as on {{globalStats.statistic_taken_at}}</p>
    </div>
</div>
 <div class="uk-padding">
    
    <div class="uk-text-center" uk-grid>
        <div class="uk-width-1-5">
            <div  *ngIf="globalStats.total_cases!==undefined"
               class="uk-card uk-card-default uk-card-body boxShadow uk-animation-slide-left">
                <p class="mono">Total Cases</p>
                <p>{{globalStats.total_cases}}</p>
            </div>
        </div>
        <div class="uk-width-1-5">
            <div  *ngIf="globalStats.active_cases!==undefined"
              class="uk-card uk-card-default uk-card-body boxShadow uk-animation-slide-bottom">
                <p class="mono">Active Cases</p>
                <p>{{globalStats.active_cases}}</p>
            </div>
        </div>
        <div class="uk-width-1-5">
            <div  *ngIf="globalStats.total_recovered!==undefined"
              class="uk-card uk-card-default uk-card-body boxShadow uk-animation-slide-bottom">
                <p class="mono">Recovered</p>
                <p>{{globalStats.total_recovered}}</p>
            </div>
        </div>
        <div class="uk-width-1-5">
            <div  *ngIf="globalStats.serious_critical!==undefined"
               class="uk-card uk-card-default uk-card-body boxShadow uk-animation-slide-bottom">
                <p class="mono">Serious</p>
                <p>{{globalStats.serious_critical}}</p>
            </div>
        </div>
        <div class="uk-width-1-5">
            <div *ngIf="globalStats.total_deaths!==undefined"
               class="uk-card uk-card-default uk-card-body boxShadow uk-animation-slide-right">
                <p class="mono">Deaths</p>
                <p>{{globalStats.total_deaths}}</p>
            </div>
        </div>
    </div>
</div> 
<!-- <div class="uk-padding">
    
    <div class="uk-text-center" uk-grid>
        <div class="uk-width-1-1">
            <div  *ngIf="globalStats.total_cases!==undefined"
               class="uk-card uk-card-default uk-card-body boxShadow uk-animation-slide-left">
                <p class="mono">Total Cases</p>
                <p>{{globalStats.total_cases}}</p>
            </div>
        </div>
        <div class="uk-width-1-1">
            <div  *ngIf="globalStats.active_cases!==undefined"
              class="uk-card uk-card-default uk-card-body boxShadow uk-animation-slide-bottom">
                <p class="mono">Active Cases</p>
                <p>{{globalStats.active_cases}}</p>
            </div>
        </div>
        <div class="uk-width-1-1">
            <div  *ngIf="globalStats.total_recovered!==undefined"
              class="uk-card uk-card-default uk-card-body boxShadow uk-animation-slide-bottom">
                <p class="mono">Recovered</p>
                <p>{{globalStats.total_recovered}}</p>
            </div>
        </div>
        <div class="uk-width-1-1">
            <div  *ngIf="globalStats.serious_critical!==undefined"
               class="uk-card uk-card-default uk-card-body boxShadow uk-animation-slide-bottom">
                <p class="mono">Serious</p>
                <p>{{globalStats.serious_critical}}</p>
            </div>
        </div>
        <div class="uk-width-1-1">
            <div *ngIf="globalStats.total_deaths!==undefined"
               class="uk-card uk-card-default uk-card-body boxShadow uk-animation-slide-right">
                <p class="mono">Deaths</p>
                <p>{{globalStats.total_deaths}}</p>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="uk-child-width-1-2 uk-grid-small uk-text-center" uk-grid> -->
    <!-- <div class="uk-position-center" style="top:100%">
        <div class="uk-margin-top"  style="height:1000px;width:1000px;">
            <canvas  *ngIf="globalStats.total_cases!==undefined"
                baseChart
                [chartType]="'pie'"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [options]="pieChartOptions"
                [legend]="true"
                [colors]="pieChartColor"
                (chartClick)="onChartClick($event)">
            </canvas>
          </div>
    </div> -->
    <!-- <div *ngIf="globalStats.total_cases!==undefined">
        <img class="uk-animation-slide-right" style="margin-top: 15%;width: 60%;height: 30%;border-radius: 10px;" src="/assets/shake.png">
    </div>
</div> -->
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>


