<app-navbar></app-navbar>
<div style="padding:5rem 11rem;">
    <input type="input" class="uk-align-center search" placeholder="Search State" name="name" id='name'
    (input)="dt.filterGlobal($event.target.value,'contains')" />

<p-table #dt [columns]="cols" [value]="indiaCases" [responsive]="true" [scrollable]="true" scrollHeight="304px"
>

<ng-template pTemplate="header" let-columns>
  <tr>
    <th *ngFor="let col of columns">
      {{col.header}}
    </th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-rowData let-columns="columns">
  <tr>
    <td class="countryGroup" *ngFor="let col of columns">
      <span class="ui-column-title">{{col.header}}</span>
      <span class="ui-g">
        {{rowData[col.field]}}
      </span>
    </td>
  </tr>
</ng-template>
</p-table>
</div>